.wrap{
	@include flexbox();
	@include flex();
  	@include flex-direction(column);
   	width:100%;
   	height:100%;
   	background: #fff;
   	.contenta{
     	flex:1;
    @include flexbox();
     		  	@include flex-direction(column);
   	}
	.m-index{
        @include flex;
        width:100%;
        position: relative;
	}
	footer{
		height:.44rem;
		width: 100%;
		@include border(1px,#333);
		@include box-sizing;
		background: #fff;
		ul{
			@include flexbox;
			width: 100%;
			height: 100%;
			position: relative;
			.camera{
				    
					background:#fff;
					display:block;
					width:50px;
					height:50px;
					@include border(1px,#333,solid,50%);
					position: absolute;
					background: #fff;
					left: 50%;
					@include transform(translate(-24px,-.1rem));
					font-size:.34rem;
					line-height: 48px;
					z-index: 9999;
				
			}
			li{
				@include flex;
				text-align: center;
				line-height:44px;
				font-size:.2rem;
				b{
					display: block;
				}
				i{
					font-size: .2rem;	
				}
			}
		}
	}
}