@import "./lib/core/reset";
@import "./lib/core/classes";
@import "./usage/core/swiper.min.css";
@import "./usage/core/common";
@import "./usage/module/guide";
@import "./usage/module/index";
@import "./usage/module/home"; 
@import "./usage/module/search";
@import "./usage/module/my"; 
body,html{
	width:100%;
	height:100%;
	overflow: hidden;
	line-height: 1.3;
	position: absolute;
}


